﻿<a data-bind="click:goToProfile">
    <img class="small_pic" data-bind="attr: { src:photo }"/>
    <span class="user_name" data-bind="text:name" style="position: relative; top: 3px;"></span>
</a>

<!-- <div id="panel" style="color: Black">
    <table style="border-collapse: collapse">
        <tr>
            <td>
                <a data-bind="click:goToProfile"><img class="big_image" data-bind="attr:{src:photo}"/></a>
            </td>
            <td>
                <a data-bind="click:goToProfile"><p data-bind="text:name, click:goToProfile" class="prolink"></p></a>
            </td>
        </tr>
        <tr ><td> </td></tr>
    </table>  
    <div id="reputation" class="clearfix">
        <span>Reputation</span> <p data-bind="text:reputation"></p>
    </div>
  
</div> -->


<div id="panel1" data-bind="visible:panel1Visible">
    
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img style="width:80px;height:80px;" data-bind="attr:{src:photo}"/>
            </td>
            <td id="prodetails">
                <div class="clearfix">
                    <span id="userProfileName" data-bind="text:name"></span>
                    <a id="findBy" data-bind="attr:{href:profile}">Find <span data-bind="text:name"></span> on LinkedIn</a>
                </div>
                <div id="memberFor"><span>member for </span><span data-bind="text:createdDate"></span></div>
                
            </td>
        </tr>
            

        <!--<tr>
            <td>
                <div style=" position: relative; left: 55px; top: -23px; ">
                <span style="font-size: 22px;position: relative;left: -9px;" data-bind="text:reputation"></span>
                <span style=" position: relative; left: -54px; top: 15px; font-size: 14px;">Reputation</span>
                </div>
            </td>
        </tr>-->
    </table>

</div>
