<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DSH.DataAccess.Properties.Settings.DoitShareitConnectionString1"
            connectionString="Data Source=NAKA-PC\SQLEXPRESS;Initial Catalog=DoitShareit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DSH.DataAccess.Properties.Settings.DoitShareitConnectionString"
            connectionString="Data Source=99XCW7AFE-Lap\SQLEXPRESS;Initial Catalog=DoitShareit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DSH.DataAccess.Properties.Settings.StackoverflowConnectionString"
            connectionString="Data Source=SUMITH-PC\SQLEXPRESS;Initial Catalog=Stackoverflow;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DSH.DataAccess.Properties.Settings.DoitShareitConnectionString2"
            connectionString="Data Source=SOOS;Initial Catalog=DoitShareit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DSH.DataAccess.Properties.Settings.MyDB6ConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MyDB6;Persist Security Info=True;User ID=sa;Password=thilinicooray"
            providerName="System.Data.SqlClient" />
        <add name="DSH.DataAccess.Properties.Settings.StackoverflowConnectionString3"
            connectionString="Data Source=MJ-PC\MJ;Initial Catalog=MyDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DSH.DataAccess.Properties.Settings.DoitShareitConnectionString3"
            connectionString="Data Source=MJ-PC\MJ;Initial Catalog=DoitShareit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>