<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DSH.DataAccess.Properties.Settings.DoitShareitConnectionString1"
            connectionString="Data Source=NAKA-PC\SQLEXPRESS;Initial Catalog=DoitShareit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>