﻿
a:hover
{
    color:Blue;
}

#tabs-2,#tabs-3
{
 padding-top:20px;   
 background-color:White;
 height:auto;
    width: 410px;
}

.outer
{
  background-color:white;
  padding-top:50px;
  padding: 3px;
  border:none;
  position: relative;
  left: -57px;
   
}

.top
{
  padding-top:20px;
  height:40px;  
  float:left; 
}

.number
{
  width:5%;
  color:Black;
  font-size:x-large;
  padding-right:10px;
  
}

.heading
{
    color:Gray;
    font-size:x-large;
    text-align:left;
    margin-right: 69px;
    margin-left: 11px;
}

.vnum
{
    color:White;
    background-color:Orange;
    height:30px;
    width:10%;
    border-bottom-color:White;
    border-bottom-width:5px;
    border-bottom-style:solid;
    font-size:medium;
    text-align: center;
    
}

.titleLine
{
    padding-left:20px;
    text-align:left;
    font-size:medium;
    float: left;
}

.more
{
    float: left;
text-align: left;
position: relative;
top: 27px;
left: -59px;
}

.headRow
{
    font-size:large;
    font-weight:bold;
    padding-bottom:20px;
}


.each
{
  
  
  left:auto;
  right:auto; 
  height:80px; 
}

.votes
{
  background-color:Orange;
  color:white;
  text-align:center;
  height:30px;
  width:38px;
  
}

.comments
{
  background-color:white;
  color:gray;
  text-align:center;
  padding-top:15px;
  padding-bottom:15px;  
  height:30px;
  width:60px;
  float:left;
  margin:3px 3px 3px 3px;
  
   
}

.count
{
  font-size:14px;
  margin:0;
}

.word
{
   font-size:small;
   
}

.title
{
  color:Blue;
  font-size:medium;
  padding-top:15px;
  padding-bottom:0px;
  margin-left:10px;
  float:left;
  margin:1px 1,px 1px 1px;
  height:50px;
  width:50%;
  text-align:left;
}

.postlink
{
   color:Blue; 
   font-size:12px;
}

.poster
{
  color:Gray;
  font-size:small;
  padding-top:15px;
  padding-bottom:0px;
  float:right;
  height:50px;
  width:auto;       
}

.name
{
 color:Blue;   
}


.date
{
  color:Gray;
  font-size:small;
  padding-top:15px;
  padding-bottom:0px;
  float:right;
  height:50px;
  width:auto;   
}


