﻿
<div id="body" data-bind="visible:Visible" style="height:120px"></div>

<script>
    $(function () {
        $("#tabs").tabs();
    });

    

</script>

<div class="demo" data-bind="visible:BottomVisible">

<div id="tabs">
	<ul id="tabMenu">
		<li><a href="#tabs-01">summary</a></li>
		<li><a href="#tabs-02">feedbacks</a></li>
		<!--<li><a href="#tabs-3">comments</a></li>-->
        <li><a href="#tabs-03">reputation</a></li>
        
	</ul>
    <div id="tabs-01" style="position: relative; top:13px; left:-10px">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
            <td>
            <span class="number" data-bind="text:feedbacks().length"></span>
            <a onclick="$('#tabs').tabs('select',1)"><span class="heading">Feedbacks</span></a>
            <hr/>
                    
            <table>
                   
                <tr>
                    <td><table data-bind="foreach:feedbacksSum" style=" width: 450px;">
                            <tr>
                                <td class="vnum" data-bind="text:$data.noOfVotes"></td>
                                <td><a data-bind="click: click.bind($data.id)"> <span class="titleLine" data-bind="text:$data.title" ></span></a></td>
                            </tr>
                    
                        </table>
                        <div class="moreTab"><a onclick="$('#tabs').tabs('select',1)">more...</a></div>
                        <br/><br/>
                    </td>
                </tr>
            
          <!--      <tr>
                    <td>
                       $1$ <span class="number" data-bind="text:reputation"> </span> #1#
                        <a onclick="$('#tabs').tabs('select',2)"><span class="heading"> &nbsp;Reputation</span></a>
                        <hr/>
                    
                        <table data-bind="foreach:repSum" style=" width: 450px;">
                        
                            <tr><td class="vnum" data-bind="text:$data.repCount"></td>
                                <td><a data-bind="click: click.bind($data.id)"> <span class="titleLine" data-bind="text:$data.title" ></span></a></td></tr>
                        </table>
                        <div><a onclick="$('#tabs').tabs('select',2)">more...</a></div>
                        <br/><br/>

                    </td>
                </tr>-->
            
            
               <!-- <tr>
                    <td>
                        <span class="number" data-bind="text:comments().length"></span>
                        <a onclick="$('#tabs').tabs('select',2)"><span class="heading">Comments</span></a>
                        <hr/>
                    
                        <table data-bind="foreach:commentsSum">
                            <tr>
                                <td class="vnum" data-bind="text:$data.noOfVotes"></td>
                                <td><a data-bind="click: click.bind($data.id)"><span class="titleLine" data-bind="text:$data.title" ></span></a></td>
                            </tr>
                                
                              
                        </table>
                              
                        <div><a onclick="$('#tabs').tabs('select',1)">more...</a></div>
                        <br/><br/>

                    </td>
                </tr> -->
            
                <tr>
                    <td>
                        <span class="number" data-bind="text:VoteCount"></span>
                        <span class="heading">Votes</span>
                        <hr/>
                    
                        <table style=" width: 450px;">
                            <tr class="headRow"><td colspan="2">Total</td><td colspan="2">By Type</td></tr>
                            <tr><td class="vnum" data-bind="text:UpvoteCount" style="width: 227px;"></td><td class="titleLine">Up</td><td class="vnum" data-bind="text:FeedBackVoteCount"></td><td class="titleLine"> Feedbacks</td></tr>
                            <tr><td class="vnum" data-bind="text:DownvoteCount"></td><td class="titleLine">Down</td><td class="vnum" data-bind="text:CommentvoteCount"></td><td class="titleLine"> Comments</td></tr>
           
                        </table>
                    
                        <br/>
                    </td>
                </tr>
            </table>
        </table>
       
    </div>
    
    <div id="tabs-02" style="position: relative; top:13px; left:-10px">
        
        <table>
            <tr>
                <th style="width:50px;">Votes</th>
                <th style="width:83px;">Comments</th>
                <th style="width:250px;">Feedback Title</th>
                <th style="width:150px;position: relative;left: -81px;">By</th>
                <th style="width:50px;">Time</th>
            </tr>
        </table>

        <table data-bind="foreach:feedbacks">

            <tr>
                <td style="width:50px;" align="center"><p class="count" data-bind="text:$data.noOfVotes"></p></td>
                <td style="width:100px;" align="center"><p class="count" data-bind="text:$data.noOfComments"></p></td>
                <td class="tab2Cont" style="width:250px;"><a data-bind="click: click.bind($data.id)"><span class="postlink" data-bind="text:$data.title" ></span></a></td>
                <td class="tab2Cont" style="width:150px;"><a data-bind="click: userLink.bind($data.posterId)"><span class="name" data-bind="text:$data.posterName"></span></a></td>
                <td class="tab2Cont"  style="width:150px;" data-bind="text:$data.createdDate"  align="center"></td>
            </tr>

        </table>

    </div>
    
   <!-- <div id="tabs-3" style="position: relative; top:13px; left:-10px">
        

    </div>-->
    
    <div id="tabs-03" style="position: relative; top:13px; left:-10px" >
        
        <table data-bind="foreach:reputationChange" style="width: 548px;">
            <tr class="each">
            <td class="votes" ><p class="count" data-bind="text:$data.repCount"></p></td>
            <td class="date" data-bind="text:$data.reason" ></td>
            <td class="title" ><a data-bind="click: click.bind($data.id)"><span class="postlink" data-bind="text:$data.title" ></span></a></td>
             <td class="date" data-bind="text:$data.countDate" ></td>
                      
            </tr>

        </table>

    </div>

    <!-- <div id="tabs-3">
       <table class="outer" data-bind="foreach:comments" cellspacing:"5px">
            <tr class="each">
            <td class="votes" ><p class="count" data-bind="text:$data.noOfVotes"></p><p class="word">votes</p></td>
            <td class="title" ><a data-bind="click: click.bind($data.id)"><span class="postlink" data-bind="text:$data.title" ></span></a></td>
            <td class="poster" ><span>by &nbsp;</span><a data-bind="click: userLink.bind($data.posterId)"><span class="name" data-bind="text:$data.posterName"></span></a></td>
            <td class="date" data-bind="text:$data.createdDate" ></td>
                      
            </tr>

        </table>
	</div> 
    <div id="tabs-4">
        
        <table class="outer" data-bind="foreach:reputationChange" cellspacing:"5px" style="position: relative;top: 367PX; left: -240px;">
            <tr class="each">
            <td class="votes" ><p class="count" data-bind="text:$data.repCount"></p></td>
            <td class="date" data-bind="text:$data.reason" ></td>
            <td class="title" ><a data-bind="click: click.bind($data.id)"><span class="postlink" data-bind="text:$data.title" ></span></a></td>
            <td class="date" data-bind="text:$data.countDate" ></td>
                      
            </tr>

        </table>
    </div> -->
  </div>

</div>

 
 
  
  
  