﻿<div id="singlePost">

       <div data-bind="foreach: posts">
        <!-- iterating over user post and displaying them -->
        <div class="each_post">
            <div cellspacing="0" class="forumpost read">
                <!-- posts -->
                <div class="postContent">
                    <div class="clearfix">
                        <div class="postArea">
                       
                          <!--  <a data-bind="click:$data.mjTest">testinggggg</a>-->

                            <div class="clearfix">
                                <div class="wallProImageArea"><img class="userpicture" data-bind="attr:{src: $data.picUrl}" height="50" width="50" alt="Owner picture" /></div>
                                <div class="wallpostContentArea">
                                    <div class="wallNamesArea clearfix singlePOstName">
                                        <a href="#" class="poster_name" data-bind="text:$data.ownerDisplayName"></a>
                                    </div>
                                    <div class="posting" data-bind="html: $data.body"></div> 
                                </div>
                            </div>
   
                        </div>
                        <div class="commands" data-bind="visible:!isAnonymous()">
                       
                            <a href="#" data-bind="click:$data.voteUpPost" class="votes_up"></a>

                            <div class="votes_count">
                                <span class="votes_amount" data-bind="text:$data.score"></span>
                            </div>
                            <a href="#" data-bind="click:$data.voteDownPost" class="votes_down"></a>

                            <!-- <button data-bind="click:$root.removePost">Remove</button> -->
                        </div>
                    </div>
                    
                </div>
            </div>
           
            <div class="indent" data-bind="visible:!isAnonymous()">
                <!-- comments -->
                <div data-bind="foreach: comments">
                    <div class="forumpost read comment_block">
                        <div class="commetsSection clearfix">
                            <div class="content_2">
                                <div class="commenterNameandImg clearfix">
                                    <img class="userpicture " data-bind="attr:{src: $data.picUrl}" height="30" width="30"
                                        alt="Owner picture">
                                    <p data-bind="text:$data.ownerDisplayName" class="commenter_name"></p>
                                </div>
                                <div class="comment_commands">
                                    <a href="#" data-bind="click:$data.voteUpComment" class="votes_up_sub"></a>
                                    <div class="comment_vote_display"><span data-bind="text:$data.score"></span>
                                    </div>
                                   
                                    <!--<button data-bind="click:$parent.removeComment">Remove</button>-->
                                </div>
                                <div class="postingComment" data-bind="text: $data.body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- comment box -->
                <div style="padding: 5px;">
                    <div class="update_box">
                        <div>
                            <textarea cols="30" rows="2" placeholder="Write a comment..." name="content" id="Textarea1" data-bind="value:$data.commentText"></textarea>
                            <button  id="Button1" class="comment_button" type="submit" data-bind="click:$data.addComment">comment</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>