﻿
<div>
    <div id='selectedUserPostingPanel'></div>
    <div class="clearfix">
        <div id="fbGiven"><span style="font-size: 26px;padding: 12px; line-height:50px;">Feedbacks given to <label data-bind="text:name"></label></span></div>
        <div id="showSummery"><a data-bind="click:link" class="profile" href="" id="A1"> View Summary</a></div>
    </div>
    <div id='Div1'></div>
    <div id='selectedUserWall' style="position: relative; left: 10px;"></div>
</div>

