.iconGlobe{
background: url(http://iconza.com/download/47/32x32/2a15d9/globe.png) no-repeat;
width: 32px;
height: 32px;
border: none;
display:inline-block;
position:relative;
    text-decoration:none;
}

.notification-count {
    position:absolute;
    top:-4px;
    right:-4px;
    background-color:#FF0000;
    color:#fff;
    padding:2px;
    font-family:tahoma, arial, 'sans-serif';
    font-size:9px;
    font-weight:bold;
}​