﻿.iconGlobe{
background: url(../../../../Content/images/icoGlobe.png) no-repeat;
width: 32px;
height: 32px;
border: none;
display:inline-block;
position:relative;
text-decoration:none;
left: -136px;
}

.notification-count {
    position:absolute;
    top:-4px;
    right:-4px;
    background-color:#FF0000;
    padding-left:2px;
    padding-right:2px;
    color:#fff;
    font-family:tahoma, arial, 'sans-serif';
    font-size:10px;
    font-weight:bold;
}​

.notification-list {
    position: absolute;
}

#notificationList {

    z-index: 10;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 4px 8px #CCCCCC;
    margin-left: -100px;
    margin-top: -4px;
    max-height: 500px;
    overflow: auto;
    width: 200px;
    z-index: 10;
    border-top:0 !important;
}

#notificationItem {
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin: 2px;
}