﻿<div id = "notificationIcon" class="notificationbox">
    <a class="iconGlobe"><span class="notification-count" data-bind="text:noOfNotifications"></span></a>​
</div>
<div id="notificationList" class ="notification-list" data-bind="visible:false" >
    <div id="notificationSubheader">
        <span>Notifications</span>
    </div>     
    <div data-bind="foreach: notifications">     
        <div class="notifiTempItem clearfix">
            <img data-bind="attr:{src: $data.senderPicUrl}" height="25" width="25" alt="picture" >
            <span data-bind="text:$data.body" style="font-size: 10px;"></span>     
            <div class="posting" data-bind="text: $data.dateOfOrigin"></div>
        </div>        
    </div>              
    <div align="center"><a href="#Notifications">See more</a></div>
</div>