body
{
    background: #f1f1f1;
}
/* This contains the page. */
#mainWrapper
{
    width:1003px;
    /*border-bottom: 1px solid #e8e8e8;*/
    margin:auto;
}

/* Login Shadow Effect */
.loginShadow
{
  position: relative;
}
.loginShadow:before, .loginShadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.loginShadow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/* This will set the min height for content body in login page*/
#contentWrapper
{
    min-height:500px;
    overflow:auto;
}

/* Header with logo */
#logoHeader
{
    margin-top:20px;
}

#testing
{
    width:1003px;
    margin:auto;
}

/* inner pages */

#logo2
{
    float:left;
}
#logo2 a
{
    display:block;
    margin-top:3px;
}
#searchArea
{
    float:right;
    width:850px;
}

.iconGlobe {

    display: block;
    position: relative;
    left: 0 !important;
    margin-top:3px;
}

/* Styles for main page wrapper */
#homepageWrapper
{
    width:1003px;
    margin:45px auto 0;

}

/* Public wall design */
.postContent
{
    width:737px;
}
.postArea
{
    float:left;
    width: 600px;
}
.commands
{
    float:right;
    width:100px;
}
.wallProImageArea
{
    float:left;
    width:100px;
    text-align:center;
}
.wallProImageArea img
{
    border:1px solid #CCCCCC;
}
.wallpostContentArea
{
    float:right;
    width:500px;
}

/* Header topic */


/* Comments Area */
.commenterNameandImg
{
    padding:10px 10px 5px;
}
.commenterNameandImg img
{
    float:left;
}
.commenterNameandImg p
{
    float:left;
    margin-left:10px;
    font-size:12px;
    color:#33348e;
    margin-top:0;
    margin-bottom:5px;
    line-height:30px;
    cursor:pointer;
}
.commenterNameandImg p:hover
{
    text-decoration:underline;
}
.postingComment
{
    font-size: 12px;
   /* padding: .5em 2em .5em 0em;*/
    position: relative;
    display: block;
    overflow: hidden;
    margin-left:50px;
}


#nomorePosts p
{
    text-align:center;
    font-size:16px;
    color:#333333;
    margin:0;
    line-height:30px;
}

/* This vill separate the posts */
.sep
{
    height:1px;
    background:#cccccc;
    margin-top:15px;
    margin-left:45px;
    margin-right:45px;
}

/* Upvote for comment */
.votes_up_sub
{
    display:block;
    background-color: transparent;
    background-image: url(/Content/arrowUp.png);
    background-repeat: no-repeat;
    border: none;
    display: block;
    height: 14px;
    width: 14px;
    margin: auto;
    cursor:pointer;
}

/* Aside list */
.listItemTopFan
{
    padding-top:15px;
    margin:0px 5px 0;
    border-top:1px solid gainsboro;
}
.fanImg
{
    float:left;
    margin-right:10px;
}
.fanFBName
{
    float:left;
}
.nameOfFan
{
    font-size:13px;
    font-weight:bold;
}
.fbFromFan, .fbFromFan span, .fbFromFan .menu-item
{
    float:left;
}
.fbFromFan
{
}
.fbFromFan span
{
    display:block;
    font-size:12px;
    line-height:25px;
}
.fbFromFan .menu-item
{
    font-size:16px;
    margin-left:5px;
}

/* Header logout dropdown */
.big_image
{
    width:40px;
    height:40px;
    border:1px solid #cccccc;
}
.prolink
{
    margin:0;
    font-size:14px;
}
#reputation
{
    margin-top:5px;
    margin-bottom:5px;
}
#reputation span
{
    float:left;
    font-size:12px;
    line-height:25px;
}
#reputation p
{
    float:left;
    margin-left:5px;
    font-size:16px;
    margin-top:0;
    margin-bottom:0;
}

/* Logout Button Added */
.logoutButton
{
    float:right;
    display:block;
    padding:5px 9px !important;
    color: #FFFFFF !important;
    background:none !important;
    cursor:pointer;
}
.logoutButton:hover
{
    text-decoration:underline;

}

/* Reputation Area */
#reputationArea
{
    border: 1px solid #E4DEDD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
    margin-bottom:15px;
    text-align:center;
}
#reputationArea p
{
    font-size:40px;
    margin:0;
    color:#bec560;
}
.subTopics
{
    font-size:14px;
    font-weight:bold;
}

/* Top Fan Area */
#topFanArea
{
    border: 1px solid gainsboro;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
}
#topFanArea .subTopics
{
    padding-bottom:8px;
    display:block;
}

/* Autocomplete */
DIV.list_item_container {
           
    padding: 0px;
}

DIV.image{
    float: left;
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    width: 32px;
    margin-right: 12px;
}
DIV.image img {
    height: 32px;
    max-height: 32px;
    max-width: 32px;
    width: 32px;
}
.list_item_container h4
{
    margin:0;
}
.ui-menu-item .ui-corner-all
{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.ui-autocomplete
{
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    -moz-border-radius-topright: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
    
DIV.description 
{
    font-family:Arial;
    color: #999999;
    font-size: 11px;
    font-weight: normal !important;
    margin: 0px;
    padding: 0px;
    line-height: 15px;
}

#name-list { width: 372px; }

/* Loading Styles */
.loading_img
{
    text-align: center;
font-size: 16px;
color: #333333;
margin: 0;
line-height: 30px;
}
.loading_img span
{
    font-size:14px !important;
}

/* Profile Page */
#fbGiven
{
    float:left;
}
#showSummery
{
    float:right;
}
#showSummery .profile
{
    font-size:14px;
    color: #3B5998;
    cursor: pointer;
    border:1px dashed #3B5998;
    padding:8px 10px;
    margin-right:15px;
    margin-top:10px !important;
    display:block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}
#showSummery .profile:hover
{
    background:#eeeeee;
}

/* Selected User Wall */
#selectedUserWall
{
    margin-top:15px;
}
.mywallNA
{
    margin-bottom:7px;
}
.votes_amount
{
    position:relative;
    left:0 !important; 
}

/* Write a post on selected user */
#writeaPost
{
    background:#f1f1f1;
    border:1px solid #cccccc;
    margin:15px 30px 30px;
    padding:10px;
}
#writeaPost textarea
{
    font-size:14px;
    padding:5px;
    border:1px solid #CCCCCC;
    width: 643px;
}
#postcommenterOtherButton{
    display:block;
    float:right;
    margin-top:15px;
}

.wnTag
{
    margin-bottom:8px;
    display:block;
}


/* Notification Wall */
.notifyList
{
    margin:0 50px;
    padding:0 20px;
    border-bottom:1px solid #cccccc;
    line-height:60px;
}
.notifyList:hover
{
    background:#eeeeee;
    cursor:pointer;
}
.notifyList img
{
    float:left;
    border:1px solid #cccccc;
    margin-right:15px;
    margin-top:16px;
}
.notifyList span
{
    float:left;
    font-size:12px;
}
.notifyList .posting
{
    float:right;
    color:#999999;
    margin-top:20px;
}

/* Single Post */
#singlePost
{
    margin-top:15px;
}
.singlePOstName
{
    margin-bottom:6px;
}

/* Notification dropdown */   
 
#notificationSubheader span
{
   display: block; line-height: 30px; margin-left: 8px; color: rgb(153, 153, 153); font-size: 12px;
}
.notifiTempItem 
{
    margin-top:8px;
    border-bottom:1px solid #cccccc; 
    padding-bottom:4px; 
    margin-left:10px; 
    margin-right:10px;
}
.notifiTempItem img
{
    float:left;
    margin-right:10px;
}
.notifiTempItem span
{
    font-size: 10px;
}
.notifiTempItem div
{
    float:right; font-size:10px; color:#999999;
}


/* Profile Details */
#prodetails img
{
    border:1px solid #cccccc;
}
#prodetails #userProfileName
{
    font-size:16px;
    color:#333333;
    margin-left:10px;
    font-weight:bold;
    display:block;
    line-height:30px;
    float:left;
}
#prodetails #memberFor
{
    font-size:12px;
    color:#999999;
    margin-left:10px;
    font-weight:normal;
    display:block;
   
}
#prodetails #findBy
{
    float:left;
    font-size:13px;
    line-height:30px;
    margin-left:10px;
    color:#3B5998;
    text-decoration:none;
    cursor:pointer;
}
#prodetails #findBy:hover
{
    text-decoration:underline;
}

.demo .ui-widget-content
{
    left:0 !important;
    width:auto !important;
    margin:0 15px !important;
    border:none !important;
}

#tabMenu .ui-state-default a
{
    font-size:13px !important;
}
.titleLine
{
    cursor:pointer;
    font-size:12px !important;
}
.heading
{
    font-size:16px !important;
}
.moreTab a
{
    font-size:12px !important;
}

#tabs-02 table tr th
{
    font-size:12px;
    font-weight:bold;
}
.tab2Cont
{
    font-size:12px;
}