button {
    border: 1px solid #888888;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*font-size: 130%;*/
    font-weight: bold;
    margin: 3px;
    padding: 2px;
}

button:active { background-color: cadetblue; }

/*
button:hover {
    background-color: #fff;
}
*/



#login_page_body {
    background-color: #275b94;
    background-image: url(../login/bg-login.jpg);
}

.login_logo {
    background-image: url(../login/doitshareit.png);
    height: 102px;
    margin: 30px 10px 10px 50px;
    min-height: 102px;
    min-width: 361px;
    width: 361px;
}

.login_button {
    margin: auto;
    position: relative;
    top: 50px;
    width: 144px;
}

.login_button_box {
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    float: right;
    height: 300px;
    position: relative;
    right: 70px;
    width: 250px;

    /*	background-image: url(../login/box.jpg);*/
}


.login_footer {
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    clear: both;
    margin-top: 0;
	
    min-height: 50px;
    position: absolute;	
	
    width: 100%;	
}

.login_footer p {
    margin-left: 100px;
    padding: .5em 2em;
}



.rounded-corners {
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.logout {
    color: Gray;
    cursor: pointer !important;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 50px 10px 10px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.logout:hover { color: #ffffff; }


.main-menu { padding-right: 25px; }


.AnonymousTogglingPicture {
    height: 40px;
    margin: 10px;
    width: 40px;
}

.notification {
    display: block;
    float: left;
    left: 200px;
    padding: 5px;
    position: relative;
    width: 50px;    
}

.notificationbox { }

.search {
    display: block;
    float: left;
    left: 400px;
    position: relative;
    width: 400px;    
}

.small_pic {
    height: 30px;
    width: 30px;
}

.posting {
    float: left;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: .5em 2em 2em 0em;
    position: relative;
}

.commands {
    float: right;
    position: relative;
    width: 100px;
}

.text_hover_visible {
    height: 100%;
    position: relative;
    visibility: hidden;
    width: 100%;
}

.text_hover_visible:hover { visibility: visible; }

.commands .votes_up {
    background-color: transparent;
    background-image: url(/Content/sprites.png);
    background-position: 11px 0px;
    background-repeat: no-repeat;
    border: none;
    display: block;
    height: 20px;
}

.commands .votes_up:hover {
    background-image: url(/Content/sprites.png);
    background-position: 11px -42px;
}

.commands .votes_down {
    background-color: transparent;
    background-image: url(/Content/sprites.png);
    background-position: 11px -20px;
    background-repeat: no-repeat;
    border: none;
    display: block;
    height: 20px;
}

.commands .votes_down:hover {
    background-image: url(/Content/sprites.png);
    background-position: 11px -75px;
}

.votes_count { display: block; }


.vote_up_comments 
{
    background-color: transparent;
    border: none;
    background-image: url(/Content/sprites.png);
    background-position: 19px -122px;
    width: 50px;
    
}

.vote_up_comments:hover {
    background-image: url(/Content/sprites.png);
    background-position: 19px -102px;   
}

.comment_vote_display {
    display: inline;
}