﻿button {
border: 1px solid #888888;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 129%;
font-weight: bold;
margin: 0;
padding: 4px 8px;
background-color: #004076;
color: #fff;
-webkit-border-radius: 6px;
border-radius: 5px;
}

button:active { background-color: cadetblue; }

/*
button:hover {
    background-color: #fff;
}
*/

#submitbtn {
    border: 1px solid #03345e;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 8px 12px;
    background-color: #004076;
    color: #fff;
    -webkit-border-radius: 6px;
    border-radius: 5px;
 
}

#submitbtn:hover {
    background-color: rgb(54, 120, 172);
}


.login_logo {
    background-image: url(../login/doitshareit.png);
    height: 102px;
    margin: 30px 10px 10px 50px;
    min-height: 102px;
    min-width: 361px;
    width: 361px; 
}


.new_login_logo {
    background-image: url(../login/final_logo.png);
    
}



/*.login_button_box {
    /* For IE 8!1!
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    /* RGBa with 0.6 opacity !1!
    background: rgba(0, 0, 0, 0.6);
    /* RGBa with 0.6 opacity !1!
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7!1!
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); 
    float: right;
    height: 300px;
    position: relative;
    right: 70px;
    width: 250px;

    /*	background-image: url(../login/box.jpg);!1!
}*/


.login_footer {
  
    background-color: rgb(255, 255, 255);
    font-family: arial;
    width: 600px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ff4200;
    margin:80px auto 60px; 
    height:360px;
    
   

}
.login_footer h2
{
    margin:15px 0;
    font-weight:normal;
    font-size:26px;
}
.login_footer p
{
    margin:0 0 15px;
    font-weight:normal;
    font-size:16px;
    letter-spacing:0.5px
}

/*.login_footer p {
   /* margin-left: 100px;!1!
    padding: .5em 2em;
}*/


#footer_bottom_div {
    border-top: 1px solid #e8e8e8;
}
#footer_bottom {
    font-size: 14px; 
    color: #999999;
    font-family: arial;
    text-align: center;   
}

.rounded-corners {
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#logout {
    color: Gray;
    cursor: pointer !important;
    font-size: 10px;
    font-weight: bold;
   border-top:1px solid #ccc;
   text-align:center;
   display:block;
   position:static !important;
   left:auto !important;
   top:auto !important;
   padding-top:5px;
}

.logout:hover { color: #ffffff; }


.main-menu 
{
    float:left;
    width: 145px;
}
.main-menu ul
{
    position:relative;
    right:0 !important;
    overflow:hidden;
    margin-top:0 !important;
    
}
.main-menu ul li
{
    float:left;
   
}
.main-menu ul li a
{
    display:block;
    padding:5px 9px !important;
    border:1px solid #cccccc !important;   
    color: #FFFFFF !important;
    background:none !important;
    
}
.main-menu ul li a:hover
{
    background:#CCCCCC !important;
    color:#000000 !important;
}

.AnonymousTogglingPicture {
    height: 40px;
    margin: 10px;
    width: 40px;
}

.notification {
    display: block;
    float: left;
    padding-top: 5px;
    width: 50px;
}

.notificationbox { }

.search {
    display: block;
    float: left;
    width: 370px;
}

.user {
    width: 150px;
    float: left;
    margin-left:35px;
}

.user .user_name {
    vertical-align: top;
    font-weight: normal;
    color: #FFFFFF;
    cursor:pointer;
    top:5px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
    float:left;
    margin-left:5px;
}


.small_pic {
    width: 28px;
    border: 1px solid #FFFFFF;
    position: relative;
    top: -2px;
    float:left;
}

.search_img {
    width: 32px;
}

.posting {
    font-size: 12px;
   /* padding: .5em 2em .5em 0em;*/
    position: relative;
    display: block;
    overflow: hidden;
}

.taggedUser {
    font-size: 13px;
   /* padding: .5em 2em .5em 0em;*/
    display: block;
    float:left;
    color: #3b5998;
    font-weight:bold;
    cursor:pointer;
}

.taggedUser:hover {
    text-decoration: underline;
     color: #3b5998;
}

.commands {
   display: block;
    float: right;
    margin-right: 10px;
    overflow: hidden;
    width: 15px;
    text-align:center;
}

.text_hover_visible {
    height: 100%;
    position: relative;
    visibility: hidden;
    width: 100%;
}

.text_hover_visible:hover { visibility: visible; }

.commands .votes_up {
    background-color: transparent;
    background-image: url(/Content/arrowUp.png);
    
    background-repeat: no-repeat;
    border: none;
    display: block;
    height: 14px;
    width: 14px;
    margin: auto;
    cursor:pointer;
}



#newsfeedlink {
font-size: 12px;
text-decoration: none;
cursor:pointer;
}

/*#newsfeedlink:hover, #newsfeedlink:active {
    border: 1px solid azure;
    border-radius: 5px;
    padding: 8px 15px 8px 15px ;
    background-color: azure;
    color: gray;
}*/

#feedbacklink {

font-size: 12px;
text-decoration: none;
margin-right:10px;  
 cursor:pointer;
}

/*
#feedbacklink:hover, #feedbacklink:hover, #feedbacklink:visited  {
    border: 1px solid azure;
    border-radius: 5px;
    padding: 8px 15px 8px 15px ;
    background-color: azure;
    color: gray;
}
*/


/*.homeActive {
     border: 1px solid azure;
    border-radius: 5px;
    padding: 8px 15px 8px 15px ;
    background-color: azure;
    color: gray;
    
}*/

/**
.commands .votes_up:hover {
    background-image: url(/Content/sprites.png);
    background-position: 11px -42px;
} **/

.commands .votes_down {
    background-color: transparent;
    background-image: url(/Content/arrowDown.png);

    background-repeat: no-repeat;
    border: none;
    display: block;
    height: 14px;
    width: 14px;
    margin: auto;
    cursor:pointer;
}


.votes_count
{
  color: #555555;
    font-size: 15px;
    font-weight: bolder;
    line-height: 15px;
    text-align: center;
	
}



.votes_count {  }


.vote_up_comments {
    background-color: transparent;
    background-image: url("/Content/arrowUpSmall.png");
    background-repeat: no-repeat;
    border: medium none;
    height: 8px;
    width: 6px;
     padding: 0;
}
.commenter_name {
    color: #33348e;
    font-weight: bold;
    font-size: 9px;
    height: 25px;
}

.comment_vote_display { display: block; text-align:center;}
.comment_vote_display span
{
   font-size:18px;
   line-height:25px;
   font-weight:bold;
}
.comment_commands {
    display: block;
    float: right;
    width: 65px;
    text-align:center;
    display: block;
}

.votes_amount {
    position: relative;
    left: 2px;
    
}

.content_2 {
    display: block;
    overflow: hidden;
}


#viewProfile {
    
    border: 1px dashed #33348e;
    color: #33348e;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    padding: 10px 15px;
    font-size: 14px;
    margin: 8px 15px 0 0;
    display:block;
}
#viewProfile:hover
{
    background:#f1f1f1;
    cursor:pointer;
}
.search_box input {
    border: none;
    height: 20px;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-size: 12px;
    padding: 2px 5px;
  /*  background: #09968a; 

    background: -moz-linear-gradient(top, #ffff 0%, #55bbbb 67%, #32baba 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #09968a), color-stop(67%, #55bbbb), color-stop(100%, #32baba));
    background: -webkit-linear-gradient(top, #09968a 0%, #55bbbb 67%, #32baba 100%);
    background: -o-linear-gradient(top, #09968a 0%, #55bbbb 67%, #32baba 100%); 
    background: -ms-linear-gradient(top, #09968a 0%, #55bbbb 67%, #32baba 100%); 
    background: linear-gradient(to bottom, #09968a 0%, #55bbbb 67%, #32baba 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09968a', endColorstr='#32baba', GradientType=0);*/
    
}


.comment_block {
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px dotted white;
    padding-bottom:15px;
}

.posting_textarea textarea {
    display: block;
}



#linkedin_login  
{
    
    width: 230px;
    height:48px;
    background-color:#bec560;
    border:1px solid #000;
    color:#000;
    outline:none;
    margin-top:8px;
    
    font-size:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}
#linkedin_login:avtive
{
    background-color:#ff4200;
    border:1px solid #FFF;
    color:#000;
}

#profiles {
    min-height: 50px;
    clear: both;
    width: 100%;
}

.comment_button {
    color:#FFFFFF !important;
    font-size:12px !important;
    text-transform:capitalize;
    margin-top:3px;
    margin-left: 365px;
}

#newsfeed_wall {
    /*border-right: 1px solid #999999;*/


}

.poster_name {
    font-weight: bold;
    color: #3b5998;
    font-family: Arial;
    font-size:13px;
    cursor:pointer;
    float:left;
}

.poster_name:hover {
    text-decoration: underline;
}
.wallNamesArea img
{
    float:left;
    margin-left:5px;
    margin-top:-5px;
    margin-right:5px;
    
}
.wallNamesArea a
{
    cursor:pointer !important;
    text-decoration:none;
}

.wallNamesArea a:hover
{
    text-decoration:underline;
}

.userpicture {
    
}

.indent 
{
    background: #f1f1f1;
    width: 500px;
    border: 1px solid rgba(136, 136, 136, 0.12);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    margin:15px 0 0 100px;

}

#hov:hover {
background-color: rgb(5, 11, 54);
}

#hov2:hover {
    background-image: url(/Content/arrowUpHover.png);
    z-index: 2;
}
.update_box {
    margin-left: 1em;
    padding: 5px;
}
.update_box textarea
{
    font-size: 13px; 
    resize: none; 
    width: 410px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #A09A9A;
    margin-left: 22px;
}


.post_seperator {
    
}

.each_post {
   /* border-bottom: #ccc solid 1px;*/
    margin-bottom: 20px;
    padding-bottom: 13px;
}

/*.right_aside {
    float: right;
    width: 200px;
}*/

#publicWall {
    margin-top: 15px;
}


.main-content {
width: 737px;
float: left;
background-color: #FFF;
padding: 15px 0 20px 0;
border: 1px solid #C9C9C9;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-top:none;

  /*  border-radius: 10px;*/
    
}

/*
.content .leftBar ul {
  width: 100% !important;
}
*/


.content .leftBar ul li {
    border-bottom: 1px solid #000;
    border-top: 1px solid #8E8E8E;
}


.content .leftBar ul li a {
    border: none !important;
    width: 124px;
   
}


.content .leftBar ul {
    border-bottom: 1px solid #6E6E6E ;
    border-top: 1px solid #000;
    margin-left: 25px;
}

#panel {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    padding: 1em;
    border: lightgray solid 1px;
    box-shadow: 0px 2px 2px #888888;
    top: 43.5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display:none;
}

.right_aside {
    float:right;
    background-color: #FFF;
    min-height: 54px;
    padding-top: 9px;
    width: 250px;
    
}

.content_body {
    width: 100%;
}

/* Feedback Wall */
#feedbackPublicWall
{
    margin-top:15px;
}