<!--<ul>
    <span class="menu-item" id="newsfeeds"><a href="#" style="color:black">News Feeds</a></span>
</ul>
<ul>
    <span class="menu-item" id="feedback"><a href="#feedback" style="color:black">Feedbacks</a></span>

</ul>-->

<!-- <div class="menu-item"  id="Div1"><div ><a href="#">News Feeds</a></div><div style="float:right"  data-bind="text:noOfNotifications"></div></div>  -->
<!-- <div class="menu-item" id="feedback"><div > <a href="#feedback">Feedbacks</a></div><div data-bind="text:noOfNotifications" style=" background-color: #FF0000; color: #FFFFFF;float: right;font-weight: bold;left: -45px;position: relative;text-align: center; top: -21px; width: 12px;" data-bind="text:noOfFeedbacks"></div></div> -->
<!-- review and add this code ----------------------->
<script type="text/javascript">

   $("#newsfeedlink").css(
        { 
           /* "border": " 1px solid azure", */
            "border-radius" : "5px",
            "padding" : "8px 18px",
            "background-color" : "azure",
            "color":"rgb(71, 65, 65)",
            "border-right" : "1px solid rgb(146, 132, 132)"
                
        });
   
    $("#feedbacklink").css(
        { 
           /* "border": " 1px solid azure", */
            "border-radius" : "5px",
            "padding" : "8px 14px",
             "color":"#FFF",
           
        });

    $("#newsfeeds").click(function () {

        $("#feedbacklink").css(
            { "background-color": "rgb(71, 65, 65)",
              "border-right": "1px solid rgb(71, 65, 65)",
              "color": "#FFF"
               
            });

        $("#newsfeedlink").css(
            {
                /*"border": " 1px solid azure",  */
                "border-radius" : "5px",
                "padding" : "8px 19px",
                "background-color" : "azure",
                "color":"gray",
                "border-right" : "1px solid rgb(146, 132, 132)"
               
            });
    });

    $("#feedback").click(function () {

        $("#feedbackPublicWall").scrollTop($("#feedbackPublicWall").scrollTop()+50);
            

        $("#newsfeedlink").css(
            { "background-color": "rgb(71, 65, 65)",
              "border-right": "1px solid rgb(71, 65, 65)",
              "color": "#FFF"
             
            });

        $("#feedbacklink").css(
            { 
                /*"border": " 1px solid azure",  */
                "border-radius" : "5px",
                "padding" : " 8px 15px 8px 15px",
                "background-color" : "azure",
                "color":"gray",
                "border-right" : "1px solid rgb(146, 132, 132)"
           
            });

    });

</script>


<ul style="position: relative;right: 89px;">
        <li>
            <div class="menu-item" id="feedback"><div > <a href="#feedback" id="feedbacklink">Feedbacks</a></div><div style=" float: right;"></div></div>
        </li>
    <li>
        <div class="menu-item"  id="newsfeeds"><div ><a href="#" id="newsfeedlink" class="homeActive">Home</a></div><div style="float:right"></div></div> 
        
    </li>
        
    </ul>
<!----------------------------------------------->
    
    