﻿<div id="page" style="padding: 2px">

         
         
    <h2 data-bind="text: displayName"> </h2>
    
    <br/>
    Name = <span data-bind="text: displayName"></span> <br/>
    Views = <span data-bind="text: views"></span> <br/>
    UpVotess = <span data-bind="text: upVotes"></span> <br/>
    DownVotes = <span data-bind="text: downVotes"></span>

    
    

</div>