﻿<div id="singlePost">
    <div data-bind="foreach: posts">
        <div cellspacing="0" class="forumpost read">
             
            <div class="content">
                <span class="displayName" data-bind="text:$data.DisplayName"></span> 
                <span class="Reputation" data-bind="text:$data.Reputation"></span>

                           
            </div>
        </div>
    </div>
</div>



