﻿<span style="font-size: 26px;padding: 12px; line-height:50px;">Notifications</span>

<div id="notification_wall">
<div>
    <div data-bind="foreach: notifications">
        <a data-bind="attr: { href: url, title: details }">
            <div id="notificationItem" class="notifyList clearfix">
                <img data-bind="attr:{src: $data.senderPicUrl}" height="30" width="30" alt="picture" >
                <span data-bind="text:$data.body" style="font-size: 14px;"></span>     
                <div class="posting" data-bind="text: $data.dateOfOrigin"></div> 
            </div>        
        </a> 
    </div>
    <div data-bind="visible:allFetched"><span >no more notifications available</span></div>
    <div data-bind="visible:fetchingNotifications">fetching notifications..... <img src="../Content/loading.gif" alt="img"/></div>
</div>
</div>
