﻿<form data-bind="submit:makePost">
    <div id="writeaPost">
        <div id="wysihtml5-toolbar" style="display: none;">
            <a data-wysihtml5-command="bold">bold</a>
            <a data-wysihtml5-command="italic">italic</a>
            <a data-wysihtml5-command="underline">underline</a>

            <a data-wysihtml5-command="insertOrderedList">insert ordered list</a>
            <a data-wysihtml5-command="insertUnorderedList">insert unordered list</a>
          
        </div>

        <textarea name="post" data-bind="value:postText" placeholder="Write a feedback..." id="wysihtml5-textarea"></textarea>

        <div id="postcommenterOther">
            <a data-bind="click: anonymousToggle" id="testing">
                <img data-bind="attr:{src: picLocation, title:titleText}" id="isAnonymous" class="AnonymousTogglingPicture" alt=" Post Anonymously "/>
            </a> <label id="test2">Click to hide your identity. Don't worry, on anonymous feedback, we do not keep identity information even on server memory.</label>
        </div>
        <div id="postcommenterOtherButton"><button type="submit" id="submitbtn" >Submit</button></div>
        <!-- data-bind="value:postText"-->
    </div>
</form>

<script>
    msgBoxImagePath = "../../Content/Images/";
</script>


<script>
    var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
        toolbar: "wysihtml5-toolbar", // id of toolbar element
        parserRules: wysihtml5ParserRules, // defined in parser rules set 
    });
</script>



<script type="text/javascript">

  /*  $(function () {
        $("#test2").text("testingggg");
        //document.getElementById('test2').innerHTML = "Testingg";
        console.log("got it");
        alert("asd");
    });

    /*$("#isAnonymous").live("click", function () {
        changeName();
    });

      function changeName() {
        var title = $("#isAnonymous").attr("title");
        if (title == "default" || title == "known") {
            console.log(title);
            $("#lab2").text("This is known!");
            alert(title);
        } else {
            $("#lab2").text("Unknown buddy!");
          //  alert('this is anonymous');
            console.log(title);
            alert(title);
        }

    } */

</script>
