<!-- Reputation Start -->
<div id="reputationArea" title="This reputation score is a reflection of how effectively you engage with MyRetro application, but NOT a score derived from the feedback you have been received.">
    <ul>
        <li>
            <span class="menu-item subTopics">Reputation</span>
        </li>
    </ul>
    <div>
        <p data-bind="text:currentUserReputation"></p>
    </div>
</div>
<!-- Reputation End -->

<!-- Top Fan Start -->
<div id="topFanArea">
    <ul>
        <li>
            <span class="menu-item subTopics">Top Fans</span>
        </li>
       
    </ul>


 
    <div id="page">
        <div data-bind="text:message" style="font-size: 10px;"></div>
        <div data-bind="foreach: frequentUser">
            <div cellspacing="0" class="menu-item">
                <div class="content">
                
                    <div class="listItemTopFan clearfix">
                        <div class="fanImg"><img style="width: 35px;height: 35px;" data-bind="attr:{src:PicLocation}" /></div>
                        <div class="fanFBName">
                            <div class="menu-item nameOfFan" data-bind="text: $data.OwnerDisplayName"></div> 
                            <div class="fbFromFan">
                                <span>Feedbacks</span> 
                                <div class="menu-item" data-bind="text: $data.FeedbackCount"></div>
                            </div>
                        </div>
                    </div>


                
                
                    <!-- <div class="menu-item" data-bind="text: $data.CommentCount" style="  position: relative; left: 49px; top: -18px;"></div><span style=" position: relative; left: 59px; top: -57px;">Comments</span>--> 
                
                                                           
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Fan end -->